<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spr.seo</string>
	<key>connections</key>
	<dict>
		<key>388F1335-81DA-4E92-B1CC-74504FB8022B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1B142B1-52AD-4213-AC4A-8535624562A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>435FC09E-7404-40DF-BE68-6109B9C2CD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>388F1335-81DA-4E92-B1CC-74504FB8022B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>69281B7D-31F0-4B62-8A6C-8CA7CD5449E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DCE8E8F-5DDC-4161-8E11-E065DEC58E51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2020B16-1C80-49BC-A890-C62CA8653C1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA355FCC-8265-44C5-8DD4-4B0B0D81FC1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FA355FCC-8265-44C5-8DD4-4B0B0D81FC1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>388F1335-81DA-4E92-B1CC-74504FB8022B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SEO</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>seo</string>
				<key>script</key>
				<string>php script.php "{query}"</string>
				<key>title</key>
				<string>SEO</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>435FC09E-7404-40DF-BE68-6109B9C2CD16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SEO</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1B142B1-52AD-4213-AC4A-8535624562A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php control.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>388F1335-81DA-4E92-B1CC-74504FB8022B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>configure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E2020B16-1C80-49BC-A890-C62CA8653C1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php configure-filter.php {query}</string>
				<key>title</key>
				<string>configure filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA355FCC-8265-44C5-8DD4-4B0B0D81FC1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php display.php {query}</string>
				<key>title</key>
				<string>Nothing to see here.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5DCE8E8F-5DDC-4161-8E11-E065DEC58E51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>display</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>69281B7D-31F0-4B62-8A6C-8CA7CD5449E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>388F1335-81DA-4E92-B1CC-74504FB8022B</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>435FC09E-7404-40DF-BE68-6109B9C2CD16</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5DCE8E8F-5DDC-4161-8E11-E065DEC58E51</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>69281B7D-31F0-4B62-8A6C-8CA7CD5449E0</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>C1B142B1-52AD-4213-AC4A-8535624562A4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E2020B16-1C80-49BC-A890-C62CA8653C1B</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>FA355FCC-8265-44C5-8DD4-4B0B0D81FC1F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.packal.org</string>
</dict>
</plist>
